<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Productos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	 
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7Rxnatzj
 	cDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 	 <link rel="stylesheet" type="text/css" href="static/css/list-products/style.css"
	th:href="@{/css/list-products/style.css}">
	   <link rel="stylesheet" type="text/css" href="static/css/partials/style.css"
	th:href="@{/css/partials/style.css}">

</head>

<body>
	<div th:replace="partials/header :: header"></div>
	<div class="container">
		<div class="p-2">
			<h1>Lista de Categorias</h1>
		<table class="table tabla-categorias">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			    </tr>
			  </thead>
			  <tbody>
				 <tr>
				      <th scope="row">0</th>
				      <td>Todos</td>
			    </tr>
			    <tr th:each="category : ${listCategories}">
			      <th th:text="${category.id}" scope="row"></th>
			      <td th:text="${category.name}"></td>
			    </tr>
			  </tbody>
		</table>
		 <!--select id="selectCategories">
			 <option value="0">Seleccione una Categoria</option>
			 <option value="-1" selected>Todos</option>
			 <option  th:each="category : ${listCategories}" value="${category.id}" th:text="${category.name}"></option>			 
		 </select-->
		</div>	
    
		<div class="p-2">
			<h1>Lista de Productos</h1>
		<div class="row">
			<div class="col-3" th:each="product : ${listProducts}">
				<div class="card" >

					<img class="card-img-top" th:src="${product.img}"alt="" />
					<div class="card-body">
						<h5 class="card-title">
							<a
								th:href="@{/products/productdetail/{idProduct}(idProduct=${product.id})}"
								th:text="${product.name}"></a>
						</h5>

							<div class="text">
								<p class="price">$ <strong th:text="${product.price}"></strong> </p>
								<p class="card-text"><strong th:text="${product.description}"></strong></p>
								<p>Stock : <strong th:text="${product.stock}"></strong></p>
							</div>
						<div class="d-flex justify-content-center">
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	
	<!--script>
		const categories = document.getElementById("selectCategories");
		const products = document.getElementById("listProducts");
		
		categories.addEventListener("change", ()=>{
			let var_categorie = categories.value
			
			$.getJSON("consultaCategories", {"parametro": var_categorie}, function(data){
				$.each(data, function(index, item){
					products.innerHTML += `<tr><td> {item.name}<td><tr>`
				})
			})
		})
		
		//$.getJSON("list-categories",{}, function(data){
			//$.each(data, function(i,obj){
				//categories.innerHTML += `<option value = {obj.id}>{obj.name}</option>` 
			//})
		//})
	</script-->

</body>

</html>