<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de categorias</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	 
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7Rxnatzj
 	cDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 	 <!--link rel="stylesheet" type="text/css" href="static/css/list-products/style.css"
	th:href="@{/css/list-products/style.css}"-->
	   <link rel="stylesheet" type="text/css" href="static/css/partials/style.css"
	th:href="@{/css/partials/style.css}">

</head>

<body>
	<div th:replace="partials/header :: header"></div>
	<div class="container">
		 <h1>Lista de Categorias</h1>
		 <select id="selectCategories">
			 <option th:each="category : ${listCategories}"></option>
			 <option value="0">Seleccione una Categoria</option>
			 <option value="-1">Todos</option>
			 <option value="{category.id}">Todos</option>
		 </select>
    <table id="listProducts">
        <tr>
            <th>Productos</th>
        </tr>
    </table>
	</div>
	
	<script>
		const categories = document.getElementById("selectCategories");
		const products = document.getElementById("listProducts");
		
		categories.addEventListener("change", ()=>{
			let var_categorie = categories.value
			
			$.getJSON("consultaCategories", {"parametro": var_categorie}, function(data){
				$.each(data, function(index, item){
					products.innerHTML += `<tr><td> {item.name}<td><tr>`
				})
			})
		})
		
		//$.getJSON("list-categories",{}, function(data){
			//$.each(data, function(i,obj){
				//categories.innerHTML += `<option value = {obj.id}>{obj.name}</option>` 
			//})
		//})
	</script>

</body>

</html>