<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<title>Index Admin</title>
</head>

<body>
	<!-- Menu para Todas las Vistas de Administrador-->

	<!--Fin del Menu de Administrador-->
	<!-- Inicio del Cuerpo de la Pagina -->

	<br>
	<div class="container text-center">
		<h1>Actualizacion de Producto</h1>
		<hr>
	</div>
	<br>
	<div class="container">
		<form th:action="@{/products/imageUpdate/{idProduct}(idProduct=${product.id})}" th:object="${product}"
			method="post" enctype="multipart/form-data" name="registro">

			<div class="row">
				<div class="form-group col-md-6">
					<label for="nombreProducto" class="col-form-label">Nombre Del
						Producto</label> 
						<input type="text" th:field="*{name}" class="form-control" id="name"
						placeholder="..." required="required"> <span th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="description" class="col-form-label">Descripcion</label> <input type="text"
						th:field="*{description}" class="form-control" id="description" placeholder="..."
						required="required"> <span th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="price" class="col-form-label">Price</label> <input type="number" th:field="*{price}"
						class="form-control" id="price" placeholder="0" min="0"
						onkeydown="return event.key !== '-' && event.key !== '.'" required="required"> <span
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="stock" class="col-form-label">Stock</label> <input type="number" th:field="*{stock}"
						class="form-control" id="stock" placeholder="0" required="required" min="0"
						onkeydown="return event.key !== '-' && event.key !== '.'"> <span
						th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="text-danger"></span>
				</div>


				<div class="form-group col-md-6">
					<label for="categoria">Categoria</label>
					<select th:field="*{category.id}" class="custom-select" id="categoria">
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
							th:selected="false" />
					</select>
					<!--span th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}" class="text-danger"></span-->
				</div>
				<div class="form-group col-md-6">
					<label for="proveedor">Proveedor</label>
					<select th:field="*{provider.id}" class="custom-select" id="proveedor">
						<option th:each="provider : ${providers}" th:value="${provider.id}" th:text="${provider.name}"
							th:selected="false" />
					</select>
					<!--span th:if="${#fields.hasErrors('proveedor.idProveedor')}" th:errors="*{proveedor.idProveedor}" class="text-danger"></span-->
				</div>
				<div class="form-group col-md-6">
					<label for="url" class="col-form-label">URL de imagen</label>
					<!--input type="text"
						th:field="*{img}" class="form-control" id="url" placeholder="..."
						required="required"-->
					<input type="file" id="file-upload" accept="image/" class="form-control" name="fileImg">
					<span th:if="${#fields.hasErrors('img')}" th:errors="*{img}" class="text-danger"></span>
				</div>

				<!--div class="form-group ">
    				<label  for="file-upload" class="subir btn btn-primary" >
    					<i class="fas fa-cloud-upload-alt" ></i> 
					</label>
    				<input type="file" id="file-upload" accept="image/*" class="form-control-file" style='display: none;' name="file">
    				<div id="zona">
  						<img id="imcargar" th:src="${product.img}"    alt="${product.img}" class="img-fluid rounded mt-2" style='width: 12rem; heigth: auto;' >
  					</div>
  				</div-->



			</div>

			<button type="submit" class="btn btn-primary" th:value="#{updateProducto-btn-update}">Actualizar
				Producto</button>
		</form>
	</div>
	<!-- Fin del Cuerpo de la Pagina -->
	<br>
	<br>
	<br>

	<!-- Footer -->

	<!-- Fin del Footer -->


</body>

</html>