
    <main class="container main">
        <h1>Bienvenido</h1>
        <p>
            <span>Storecode</span> es la mejor tienda virtual de latino america, cuenta con los mejores canales de distribucion para llegar a cada rincon y con los mejores productos para lsos mejores clientes
        </p>

        <div class="carrusel">
            <div class="carrusel-track">
                <div class="carrusel-item">
                    <img src="/img/cadena.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/camara.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/camisas.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/celulares.jpg" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/silla.avif" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/parlante.jpg" alt="">
                </div>


                <div class="carrusel-item">
                    <img src="/img/mancuernas.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/mesa.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/gorra.jpg" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/pc.png" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/rolex.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/lambo.png" alt="">
                </div>
            </div>

            <div class="carrusel-track-2">
                <div class="carrusel-item">
                    <img src="/img/mancuernas.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/mesa.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/gorra.jpg" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/pc.png" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/rolex.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/lambo.png" alt="">
                </div>


                
                <div class="carrusel-item">
                    <img src="/img/cadena.jpg" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/camara.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/camisas.avif" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/celulares.jpg" alt="">
                </div>	
                <div class="carrusel-item">
                    <img src="/img/silla.avif" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="/img/parlante.jpg" alt="">
                </div>
            </div>
        </div>
    </main>